<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-3">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-8">
    <div class="row">
      <div class="col-md-4">
        <h3>Micropost Feed</h3>
      </div>
      <div class="search_form">
        <%= render 'shared/microposts_search_form' %>
      </div>
    </div>

    <div class="modal fade" id="micropost-show-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
    <div class="feed_post_form">
      <%= render '/shared/micropost_form' %>
    </div>
    <%= render 'shared/feed' %>
  </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>My App</h1>

    <h2>
      This is the home page for the
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

     <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
     <div class="">
       <p></p>
       <p>サンプルユーザー</p>
       <p>email: example-1@railstutorial.org</p>
       <p>pass: password</p>
     </div>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
<% end %>

<script type="text/javascript">
  function removeModal() {
    $('body').removeClass('modal-open');
    $('.modal-backdrop.in').remove();
    $("#micropost-show-modal").modal('toggle')
    $("#micropost-show-modal").css('display', 'none')
  }
</script>
