<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: login_path) do |f| %>
      <%= render "users/shared/error_messages", object: f.object %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= link_to "(forgot password)", password_new_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    <button type="button" name="button" class="samplebtn" onclick="sampleLogin()">サンプルユーザーでログイン</button>
  </div>
</div>

<script type="text/javascript">
  function sampleLogin() {
    $('input#user_email').val('example-1@railstutorial.org');
    $('input#user_password').val('password');
    console.log("hello world!");
  }
</script>
